<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Bonsoir {% name %}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque repudiandae rem consequatur perspiciatis officia
        quis magnam natus maxime tempore ex necessitatibus cum cupiditate aspernatur quam optio, inventore nemo
        doloribus aut!
        Quos fugiat laudantium temporibus, error non facilis? Sed tenetur nesciunt quas porro laboriosam, hic, a
        aspernatur quibusdam perferendis, vero blanditiis obcaecati dolores? Officiis dolorem quisquam,<b>{% name %}</b>
        aspernatur quo delectus nostrum ipsam.</p>
</body>

</html>