<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home Page of {% name %}</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus consequuntur eveniet cum ipsum vero minus
        tempora, reiciendis quae quasi harum architecto totam natus error distinctio eius repudiandae vitae ducimus
        amet?</p>
</body>

</html>