<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <h1>My shop</h1>
    </header>
    <nav>
        <a href="/home">Home | </a>
        <a href="/add">Ajouter Un produit</a>
    </nav>
    <section>
        {% produits %}
    </section>
</body>


</html>