body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    border: 1px solid black;
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

header h1 {
    text-align: center;

}

header {
    margin-bottom: 20px;
    background-image: url("../images/banner.jpeg");
    border: 1px solid blue;
    background-size: cover;
}